.popup__container {
  padding: 25px 22px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  box-sizing: border-box;
  width: calc(100% - 38px);
  max-width: 430px;
}
