.popup__button {
  position: absolute;
  top: -30px;
  right: 0;
  width: 26px;
  height: 26px;
  transition: opacity .4s ease;
  background: transparent url(../../../images/button-close.svg) no-repeat 50% / contain;
  border: 0;
}

.popup__button:hover {
  opacity: 60%;
}
