.card__button {
  padding: 0;
  width: 23px;
  height: 19px;
  border: 0;
  background: transparent url(../../../images/like-icon.svg) no-repeat 50% / contain;
  transition: opacity .4s ease;
  box-sizing: border-box;
}

.card__button:hover {
  opacity: 50%;
  cursor: pointer;
}
