.elements__button {
  transition: opacity .4s ease;

  box-sizing: border-box;
  border: 0;
  padding: 0;
  width: 23px;
  height: 19px;
  background: transparent url(../../../images/like-icon.svg) no-repeat 50% / contain;
}

.elements__button:hover {
  opacity: 60%;
}
