.form__input {
  padding: 0 0 8px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 17px;
}

.form__input:not(:last-of-type) {
  margin-bottom: 30px;
}
