.profile__description {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media (min-width:768px) {
  .profile__description {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}
