.profile__button_type_add {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: transparent url(../../../../images/button-add.svg) no-repeat 50% / 16px;
  border: 2px solid #fff;
}

@media (min-width:1024px) {
  .profile__button_type_add {
    width: 150px;
    height: 50px;
    background: transparent url(../../../../images/button-add.svg) no-repeat 50% / 22px;
    margin-left: auto;
  }
}
